@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
.info{
    background: #fff;
}
.shopsPic{
    width: 398px;
    border: 1px solid #d2d2d2;
    float: left;
}
.shopsPic .zoomPicBox{
    width: 398px;
    height: 398px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: crosshair;
}
.shopsPic .zoomPicBox img{
    float: left;
    width: 100%;
    height: 100%;
}
.picListBox{
    width: 100%;
    overflow: hidden;
    padding: 18px 14px;
    border-top: 1px solid #d2d2d2;
    box-sizing: border-box;
}
.picListBox .arrowLeft{
    float: left;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 29px;
    border-top: 2px solid #a6a6a6;
    border-left: 2px solid #a6a6a6;
    transform-origin: left top;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    cursor: pointer;
}
.picListBox .arrowRight{
    float: right;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 29px;
    transform-origin: right top;
    border-top: 2px solid #a6a6a6;
    border-right: 2px solid #a6a6a6;
    transform-origin: right top;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    cursor: pointer;
}
.picListRelative{
    display: inline-block;
    width: 330px;
    height: 58px;
    float: left;
    margin-left: 8px;
    position: relative;
    overflow: hidden;
}
#picList {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}
#picList li{
    width: 58px;
    height: 58px;
    float: left;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-right: 10px;
    display: table-cell;
    vertical-align: middle;
}
#picList .thisPic{
    border: 1px solid #fd323c;
}
#picList li img{
    width: 56px;
}
#picList li:last-child{
    margin-right: 0;
}
/*移动范围*/
.range{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.1);
    display: none;
}
/*放大后的*/
#hadZoomPicBox{
    width: 398px;
    height: 398px;
    position: relative;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
}
#hadZoomPicBox img{
    position: absolute;
    width: 800px;
    height: 800px;
}



