*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.lwf-city{
	display: inline-block;
	position: relative;
	margin: 200px;
	font-size: 12px;
	color: #555;
}
.lwf-city a{
	text-decoration: none;
	color: #555;
}
.lwf-city .cityShow{
	display: block;
}
.thisCity{
	display: inline-block;
    background-color: #fff;
	padding: 0 10px;
    padding-right: 25px;
    border: 1px solid #d2d2d2;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    z-index: 20140606;
}
.thisCity:after{
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    display: inline-block;
    width: 8px;
    height: 8px;
    /* margin: 0 0 0 5px; */
    border-right: 1px solid #a9a3a3;
    border-bottom: 1px solid #a9a3a3;
    vertical-align: text-top;
    transform-origin: center;
    transform: rotate(45deg);
    transition: all 0.2s linear
}
.thisCityShow{
    border-bottom: none;
}
.thisCityShow:after{
    transform:rotate(225deg);
    margin-top: -4px;
}
.cityMain{
	position: absolute;
    border: 1px solid #d2d2d2;
    width: 430px;
    padding: 15px;
    top: 24px;
    left: 0;
    z-index: 19950111;
    background: #fff;
    display: none;
}
#cityClosed{
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    font-size: 18px;
    font-weight: 700;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    cursor: pointer;
}
.cityMainShow{
    display: block;
    top: 23px;
}
.cityTab{
	border-bottom: 1px solid #d2d2d2;
    float: left;
    width: 100%;
    padding-left: 1px;
    height: 24px;
}
.cityTab li{
	min-width: 36px;
    float: left;
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #d2d2d2;
    border-bottom: 0;
    margin-left: -1px;
    text-align: center;
    cursor: pointer;
    display: none;
}
.cityTab .choseThis{
	border-bottom: 1px solid #fff;
    border-top: 2px solid #e60101;
    height: 22px;
    color: #e60101;
}
.cityTabContent{
	display: inline-block;
	float: left;
    width: 100%;
    margin-top: 15px;
}
.cityTabContent ul{
	display: none;
}
.cityTabContent ul li{
	float: left;
    width: 33.33333333%;
    margin-bottom: 5px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}
.cityTabContent ul li a{
	padding: 0 5px;
}
.cityTabContent ul li a:hover,.cityTabContent ul li .thisSelectedCity{
	background: #e60101;
	color: #fff;
}
.cityTabContent ul li:nth-child(4n){
	margin-right: 0;
}